.container{
    display: flex;
    height: 200px;
    width: 400px;
    border: 20px black;
    background-color: red;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: auto;
}
.item{
    height: 50px;
    width: 50px;
    text-align: center;
    border: 20px black;
    padding-left: 20px;
    margin: 50px;

}