* { 
    margin: 0; 
    padding: 0; 
    font-family: 'Poppins', sans-serif; 
} 
nav { 
    background-color: black; 
    color: white; 
    min-height: 4.375rem;    
    display: flex; 
} 
nav .logo { 
    max-width: 9.375rem;     
    font-size: 3.125rem;     
    align-items: center; 
    padding: 0.3125rem;      
} 
nav .nav-links { 
    display: flex; 
    gap: 1.5625rem;          
    text-decoration: none; 
    margin: auto; 
} 
 
nav .nav-links a { 
    color: white; 
    text-decoration: none; 
    font-size: 1rem;         
} 
nav .right { 
    display: flex; 
    gap: 1.5625rem;          
    text-decoration: none; 
    margin-right: 7.5rem;    
} 
nav .right a { 
    color: white; 
    text-decoration: none; 
    font-size: 1rem;         
    margin: auto; 
    transition: ease 0.3s; 
} 
nav .nav-links a:hover, 
nav .right a:hover { 
    text-decoration: underline; 
    color: yellow; 
}